1) Summary of dataset

- Full descriptive summary of the dataset
- Number of observations
- Summary statistics (to 2 decimal places)
- Number of variables
- Name and type of variables
- What these variables mean
- Any issues with the data
- Any issues related to things we can't directly see
- How the data was collected
- Etc

Should be in tables and bullet point lists, esps for summarizing variables.
Should summarize all variables, not just the ones I need for my question.

| Variable Name | Type | Meaning | Summary Stat |
| ------------- | ---- | ------- | ------------ |
| experience    |  chr |Category of familiarity with Minecraft | See summary below |
| subscribe     | lgl  | True if player is subscribed to mailing list, False if not | 144 True/52 False |
| hashedEmail   | chr  | Player email, hashed for privacy | 0 repeated emails|
| played_hours  | dbl  | Hours played  | Mean: 5.85|
| name          | chr  | Identifying name of player | 0 repeated names|
| gender        | chr  | Gender disclosed by player (including choice to opt-out) | See summary below |
| Age           | dbl  | Age of player | Mean: 21.14 |

Players: 196 observations. 7 variables.

Sessions: 1535 observations. 5 variables.

Issues:
- Experience and gender should be converted to factors
- Age has some NAs

In [3]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)
source("cleanup.R")

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'cleanup.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [34]:
players = read_csv("players.csv")
sessions = read_csv("sessions.csv")

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [47]:
players = players |>
    mutate(experience = as_factor(experience)) |>
    mutate(gender = as_factor(gender))

exp_counts = players |>
    group_by(experience) |>
    summarize(n = n())

exp_counts

subscribe_counts = players |>
    group_by(subscribe) |>
    summarize(n = n())

subscribe_counts

unique_email_count = players |>
    group_by(hashedEmail) |>
    summarize(n = n()) |>
    filter(n > 1)

unique_email_count

hours_mean = players |>
    summarize(mean = mean(played_hours)) |>
    pull() |>
    round(2)

hours_mean

name_overlaps = players |>
    group_by(name) |>
    summarize(n = n()) |>
    filter(n > 1)

name_overlaps

gender_counts = players |>
    group_by(gender) |>
    summarize(n = n())

gender_counts

age_mean = players |>
    summarize(age_mean = mean(Age, na.rm = TRUE)) |>
    pull() |>
    round(2)

age_mean

  experience n
1 Pro        14
2 Veteran    48
3 Amateur    63
4 Regular    36
5 Beginner   35

  subscribe n
1 FALSE      52
2  TRUE     144

     hashedEmail n

[1] 5.85

     name n

  gender       n
1 Male         124
2 Female        37
3 Non-binary    15
⋮ ⋮            ⋮
5 Agender      2
6 Two-Spirited 6
7 Other        1

[1] 21.14

2) Question:
The one broad question I plan to address, and then how I've formulated it into a specific question that uses one response vaiable of interest and one or more explanatory variables.
- It should be stated as a question
- Ex, can foo predict bar in dataset?
- Describe how the data will help address the question of interest
- Potentially describe how to wrangle the data to get it into the form where I can apply one of the predictive methods we've learned.

3. Exploratory Data Analysis and Visualization

- Load the dataset into R
- Do the minimum necessary wrangling to make the data tidy. Nothing extra!
- Compute the mean value for each quantitative variable in players.csv. Report the mean values in a table format.
- Make a few exploratory visualizations of the data to help understand it
- Use viz best practices (labels, titles, units, etc)
- Explain any insights from the plots that are relevant to my question
- No predictive analysis, just exploration before later modelling.

4. Methods and Plan
- Propose one method to address the question of interest using the selected dataset
- Explain why you chose it
- Don't actually do any modelling or presenting of results, this is just the high-level plan and justification

Must include:
- Why is this method appropriate?
- Which assumptions are required, if any, to apply the method selected?
- What are the potential limitations or weaknesses of the method selected?
- How are you going to compare and select the model?
- How are you going to process the data to apply the model? For example: Are you splitting the data? How? How many splits? What proportions will you use for the splits? At what stage will you split? Will there be a validation set? Will you use cross validation?