1) Summary of dataset

- Full descriptive summary of the dataset
- Number of observations
- Summary statistics (to 2 decimal places)
- Number of variables
- Name and type of variables
- What these variables mean
- Any issues with the data
- Any issues related to things we can't directly see
- How the data was collected
- Etc

Should be in tables and bullet point lists, esps for summarizing variables.
Should summarize all variables, not just the ones I need for my question.

| Variable Name | Type | Meaning | Summary Stat |
| ------------- | ---- | ------- | ------------ |
| experience    |  chr |Category of familiarity with Minecraft | See summary below |
| subscribe     | lgl  | True if player is subscribed to mailing list, False if not | 144 True/52 False |
| hashedEmail   | chr  | Player email, hashed for privacy | 0 repeated emails|
| played_hours  | dbl  | Hours played  | Mean: 5.85|
| name          | chr  | Identifying name of player | 0 repeated names|
| gender        | chr  | Gender disclosed by player (including choice to opt-out) | See summary below |
| Age           | dbl  | Age of player | Mean: 21.14 |

Players: 196 observations. 7 variables.

Sessions: 1535 observations. 5 variables.

Issues:
- Experience and gender should be converted to factors
- Age has some NAs


| Variable Name       | Type | Meaning | Summary Stat |
| ------------------- | ---- | ------- | ------------ |
| hashedEmail         | chr  | Player email, hashed for privacy | Total number of unique hashed emails: 125 <br> Mean repeat session count: 12.28 |
| start_time          | chr  | Start of session in day/month/year and 24 hr format | (All calculated by converting to datetime)<br>Min : 2024-04-06 09:27:00 <br> Max: 2024-09-26 06:09:00 |
| end_time            | chr  | End of session in same format as start_time | (All calculated by converting to datetime)<br>Min: 2024-04-06 09:31:00 <br> Max: 2024-09-26 07:39:00 <br> Mean duration between start_time and end_time: 50.86 mins|
| original_start_time | dbl  | Lower precision session start time, expressed in milliseconds from Unix Epoch | Mean duration combined with original_end_time: 48.49 minutes |
| original_end_time   | dbl  | Lower precision session end time, in same format as original_start_time |  |

Issues:
- start_time and end_time need to be converted into date types, not characters
- The meaning of original_start_time and original_end_time are unclear. They seem to be in milliseconds from Unix Epoch time, since if you treat them as such they are close to the matching values in start_time and end_time. But the times don't match exactly. I also noticed that the original_start_time and original_end_time are often the same, so my current guess is that some precision was lost on these values and that's why they're not quite right.
- We'll need to pick which source of start/end times to use for analysis. I plan to use start_time and end_time since they seem to be different from each other more often than the Unix Epoch versions, which would make more sense if a play session was recorded.
- end_time and original_end_time have some NAs

Notes on the dataset, based on the project website:
-  Current announcement says the server restarts daily at 2:30 AM PST
-  Participation rules say that if a player is away from keyboard for more than 5 min they get kicked from the server
-  Rules also state that there is a PLAITime mechanic. You start with 30 minutes. If you aren't talking to players, it is ticking down. You earn time by inviting friends and talking in game. You can't begin a play session without 30 minutes of PLAITime. So basically if you play solo, you get 30 min then you're kicked.
-  A player who joins but never does any movement is considered a no-show.
-  FAQ says that as of May 2025, over 10000 people have played over 10000 hours.
-  FAQ says generally 1-20 people active at a time.
-  FAQ says benefit offered to players was the chance to play on the server for free, and occassionally sweepstakes to win an Amazon gift card.
-  Players are encouraged to play with people they don't already know, but can also invite friends.
-  FAQ notes that email or phone number are collected in order to send links to access the server, and to be able to identify and delete data is required.
-  FAQ notes that players 13 and under must have a parent or guardian consent to participate. Parents can revoke consent and then data is deleted.
- FAQ notes that they collect gameplay, speech, and key presses.
- FAQ notes that players can request specific session IDs are removed if they want to remove any data.
- The first blog post on their current website is from Sept 1st, 2024. On Sept 27th 2024 they say they've passed research ethics certification.
- From the UBC lab page for PLAI it has a post about launching plaicraft.ai on Sept 27th 2023
- Their released paper talks about using extensive media outreach - TikTok, Youtube, collabs with famous Minecraft YouTubers, posters. Also one semester of giving extra credit to undergrads who would play.

In [3]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)
source("cleanup.R")

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'cleanup.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [4]:
players = read_csv("players.csv")
sessions = read_csv("sessions.csv")

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [34]:
# investigate the format of the two date columns
exampleMysteryDate = sessions |>
    slice(8) |>
    pull(original_start_time)

exampleKnownDate = sessions |>
    slice(8) |>
    pull(start_time) |>
    as_datetime()

exampleKnownDate
exampleMysteryDate

# See what the mystery date looks like if treated as milliseconds from Epoch Time
convertedDate = as_datetime(exampleMysteryDate/1000)
convertedDate

# do the same but for the end time
exampleMysteryEnd = sessions |>
    slice(8) |>
    pull(original_end_time)

end_time = sessions |>
    slice(8) |>
    pull(end_time)

end_time
exampleMysteryEnd
print(as_datetime(exampleMysteryEnd/1000))

[1] "2021-09-21 00:02:13 UTC"

[1] 1.72688e+12

[1] "2024-09-21 00:53:20 UTC"

[1] "21/09/2024 02:30"

[1] 1.72689e+12

[1] "2024-09-21 03:40:00 UTC"

In [60]:
# group by repeat sessions, aka ones with the same email

repeat_sessions = sessions |>
    group_by(hashedEmail) |>
    summarize(n = n())

repeat_sessions
print(nrow(repeat_sessions))

# average number of sessions a given player played
repeat_session_mean = repeat_sessions |>
    summarize(mean = mean(n)) |>
    pull()

repeat_session_mean

# convert the chr variables into date variables so we can do math with them
# while we're at it, get the duration of time between start and end for each session
converted_times = sessions |>
    mutate(converted_start = dmy_hm(start_time)) |>
    mutate(converted_end = dmy_hm(end_time)) |>
    mutate(duration = converted_end - converted_start)

converted_times

# get the min and max, which tells us over what span of time this chunk of the study took place
max_start_date = converted_times |>
    summarize(max = max(converted_start)) |>
    pull()

print(max_start_date)

min_start_date = converted_times |>
    summarize(min = min(converted_start)) |>
    pull()

print(min_start_date)

max_end_date = converted_times |>
    summarize(max = max(converted_end, na.rm = TRUE)) |>
    pull()

print(max_end_date)

min_end_date = converted_times |>
    summarize(min = min(converted_end, na.rm = TRUE)) |>
    pull()

print(min_end_date)

# get the duration of time between start and end of each session, then calculate the mean
mean_duration = converted_times |>
    summarize(mean = mean(duration, na.rm = TRUE)) |>
    pull()

mean_duration

# for the epoch time, also calculated the duration and mean of the duration, for comparison
mean_epoch_duration = sessions |>
    mutate(epoch_duration = original_end_time - original_start_time) |>
    summarize(mean = mean(epoch_duration, na.rm = TRUE)) |>
    pull()

# convert from milliseconds to minutes
mean_epoch_duration / 1000 / 60

    hashedEmail                                                      n
1   0088b5e134c3f0498a18c7ea6b8d77b4b0ff1636fc93355ccc95b45423367832 2
2   060aca80f8cfbf1c91553a72f4d5ec8034764b05ab59fe8e1cf0eee9a7b67967 1
3   0ce7bfa910d47fc91f21a7b3acd8f33bde6db57912ce0290fa0437ce0b97f387 1
⋮   ⋮                                                                ⋮
123 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d 310
124 fe218a05c6c3fc6326f4f151e8cb75a2a9fa29e22b110d4c311fb58fb211f471   1
125 fef4e1bed8c3f6dcd7bcd39ab21bd402386155b2ff8c8e53683e1d2793bf1ed1   1

[1] 125

[1] 12.28

     hashedEmail
1    bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2    36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3    f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
⋮    ⋮
1533 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1534 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1535 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
     start_time       end_time         original_start_time original_end_time
1    30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2    17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3    25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
⋮    ⋮                ⋮                ⋮                   ⋮
1533 28/07/2024 15:36 28/07/2024 15:57 1.72218e+12         1.72218e+12
1534 25/07/2024 06:15 25/07/2024 06:22 1.72189e+12         1.72189e+12
1535 20/05/2024 02:26 20/05/2024 02:45 1.71617e+12         1.71617e+12
     converted_start     converted_end       duration
1    2024-06-30 18:12:00 2024-06-30 18:24:00 12 mins
2    2024-06-17 23:33:00 2024-06-17 23:46:00 13 mins
3    2024-07-25 17:34:00 2024-07-25 17:57:00 23 mins
⋮    ⋮                   ⋮                   ⋮
1533 2024-07-28 15:36:00 2024-07-28 15:57:00 21 mins
1534 2024-07-25 06:15:00 2024-07-25 06:22:00  7 mins
1535 2024-05-20 02:26:00 2024-05-20 02:45:00 19 mins

[1] "2024-09-26 06:09:00 UTC"
[1] "2024-04-06 09:27:00 UTC"
[1] "2024-09-26 07:39:00 UTC"
[1] "2024-04-06 09:31:00 UTC"

Time difference of 50.85845 mins

[1] 48.4888

In [47]:
players = players |>
    mutate(experience = as_factor(experience)) |>
    mutate(gender = as_factor(gender))

exp_counts = players |>
    group_by(experience) |>
    summarize(n = n())

exp_counts

subscribe_counts = players |>
    group_by(subscribe) |>
    summarize(n = n())

subscribe_counts

unique_email_count = players |>
    group_by(hashedEmail) |>
    summarize(n = n()) |>
    filter(n > 1)

unique_email_count

hours_mean = players |>
    summarize(mean = mean(played_hours)) |>
    pull() |>
    round(2)

hours_mean

name_overlaps = players |>
    group_by(name) |>
    summarize(n = n()) |>
    filter(n > 1)

name_overlaps

gender_counts = players |>
    group_by(gender) |>
    summarize(n = n())

gender_counts

age_mean = players |>
    summarize(age_mean = mean(Age, na.rm = TRUE)) |>
    pull() |>
    round(2)

age_mean

  experience n
1 Pro        14
2 Veteran    48
3 Amateur    63
4 Regular    36
5 Beginner   35

  subscribe n
1 FALSE      52
2  TRUE     144

     hashedEmail n

[1] 5.85

     name n

  gender       n
1 Male         124
2 Female        37
3 Non-binary    15
⋮ ⋮            ⋮
5 Agender      2
6 Two-Spirited 6
7 Other        1

[1] 21.14

2) Question:
The one broad question I plan to address, and then how I've formulated it into a specific question that uses one response vaiable of interest and one or more explanatory variables.
- It should be stated as a question
- Ex, can foo predict bar in dataset?
- Describe how the data will help address the question of interest
- Potentially describe how to wrangle the data to get it into the form where I can apply one of the predictive methods we've learned.

3. Exploratory Data Analysis and Visualization

- Load the dataset into R
- Do the minimum necessary wrangling to make the data tidy. Nothing extra!
- Compute the mean value for each quantitative variable in players.csv. Report the mean values in a table format.
- Make a few exploratory visualizations of the data to help understand it
- Use viz best practices (labels, titles, units, etc)
- Explain any insights from the plots that are relevant to my question
- No predictive analysis, just exploration before later modelling.

4. Methods and Plan
- Propose one method to address the question of interest using the selected dataset
- Explain why you chose it
- Don't actually do any modelling or presenting of results, this is just the high-level plan and justification

Must include:
- Why is this method appropriate?
- Which assumptions are required, if any, to apply the method selected?
- What are the potential limitations or weaknesses of the method selected?
- How are you going to compare and select the model?
- How are you going to process the data to apply the model? For example: Are you splitting the data? How? How many splits? What proportions will you use for the splits? At what stage will you split? Will there be a validation set? Will you use cross validation?